.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.img {
  margin-top: 30vh;
  margin-bottom: 30vh;
  width: 80px;
  height: 80px;
}
