.container {
  width: 100%;
  max-width: 1300px;
  padding: 0px;
  margin: 0px;
  font-size: 12pt;
  min-height: calc(100vh - 130px);
  overflow: auto;
}

.table {
  width: 100%;
  max-width: 1300px;
  white-space: nowrap;
  padding: 0px;
  margin: 0px;
  border-collapse: collapse;
  position: relative;
}

.table thead {
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.table thead tr th span {
  color: #37e;
  cursor: pointer;
}
.table tbody tr td {
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  white-space: nowrap
}

.table .form {
  display: flex;
  color: #37e;
  width: 170px;
  flex-direction: row;
  margin-left: 5px;
  height: 25px;
}

.table td img{
  margin: 0;
  padding: 0;
  background-repeat: 'no-repeat';
  background-size: 'cover';
  background-position: 'center';
  width: 70px;
  height: 60px
}